@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

.root {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}



.root0 {
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

.root1 {
    --main-color: #FF4A57;
    --body-color: #0e0f18;
    --container-color: #23263A;
    --heading-color: #222231;
    --box-color: #13141f;
    --bg-color: #fff;
}

.root2 {
    --main-color: #27AE60;
    --body-color: #191d2b;
    --container-color: #23263A;
    --heading-color: #454e56;
    --box-color: #2a2e35;
    --bg-color: #fff;
}

.root3 {
    --main-color: #FFF6E0;
    --body-color: #272829;
    --container-color: #1e1e1f;
    --heading-color: #343738;
    --box-color: #1e1f20;
    --bg-color: #707275;
}

/*.root3 {
    --main-color: #2e2e2e;
    --body-color: #707070;
    --container-color: #929292;
    --heading-color: #222231;
    --box-color: #c7c7c7;
    --bg-color: #ffffff;
}*/

/* Contact */
.contact {
    margin-top: 1.5rem;
}


.container1 {
    width: 100%;
    /* background: var(--body-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 form {
    width: 90%;
    max-width: 550px;
    position: relative;
}

.input-group {
    width: 100%;
    margin: 0 0 10px 0;
    position: relative;
    color: white;
}

.input-group input,
.input-group textarea {
    width: 100%;
    background: var(--box-color);
    font-weight: 500;
    border: 0;
    outline: 0;
    padding: 10px;
    color: rgb(144, 144, 144);
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    margin: 3px;
}


::placeholder {
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.input-group span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 12px;
    color: red;
    font-weight: 500;
}

form button {
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5px;
    padding: 10px 40px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

#submit-error {
    color: red;
    font-size: 12px;
    font-weight: 500;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.color-1 {
    color: var(--main-color);
    font-weight: 600;
}
